[submodule "Koopa/lib/spdlog"]
	path = Koopa/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Koopa/lib/glfw"]
	path = Koopa/lib/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Koopa/lib/imgui"]
	path = Koopa/lib/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Koopa/lib/glm"]
	path = Koopa/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "Koopa/lib/yaml-cpp"]
	path = Koopa/lib/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
